<h2>Información Del Cliente</h2>

<div class="col-6">
    <label for="legal_organization_id" class="form-label">Tipo de Persona <span class="text-danger">*</span></label>
    <select class="form-select" id="legal_organization_id" name="legal_organization_id" required>
        <option selected></option>
        <option value=""></option>
    </select>
</div>

<div class="col-6">
    <label for="identification_document_id" class="form-label">Tipo de Identificación</label>
    <select class="form-select" id="identification_document_id" name="identification_document_id">
        <option selected></option>
        <option value=""></option>
    </select>
</div>

<div class="col-6">
    <label for="names" class="form-label">Nombre o Razón Social</label>
    <input type="text" class="form-control" id="names" name="names">
</div>

<div class="col-4">
    <label for="identification" class="form-label">Identificación <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="identification" name="identification" required>
</div>

<div class="col-2">
    <label for="dv" class="form-label">DV</label>
    <input type="text" class="form-control" id="dv" name="dv">
</div>

<div class="col-6">
    <label for="address" class="form-label">Dirección</label>
    <input type="text" class="form-control" id="address" name="address">
</div>

<div class="col-6">
    <label for="email" class="form-label">Correo Electrónico</label>
    <input type="text" class="form-control" id="email" name="email">
</div>

<div class="col-6">
    <label for="phone" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="phone" name="phone">
</div>

<div class="col-6">
    <label for="tribute_id" class="form-label">Impuesto <span class="text-danger">*</span></label>
    <select class="form-select" id="tribute_id" name="tribute_id" required>
        <option selected></option>
        <option value=""></option>
    </select>
</div>

<div class="col-6">
    <label for="municipality_id" class="form-label">Municipio <span class="text-danger">*</span></label>
    <select class="form-select" id="municipality_id" name="municipality_id" required>
        <option selected>/option>
        <option value=""></option>
    </select>
</div>

<div class="col-6">
    <label for="city" class="form-label">Ciudad</label>
    <select class="form-select" id="city" name="city">
        <option selected></option>
        <option value=""></option>
    </select>
</div>