<div class="col-12">
    <label for="reference_code" class="form-label">Código de Referencia <span class="text-danger">*</span> </label>
    <input type="text" class="form-control" id="reference_code" name="reference_code" required>
</div>

<div class="col-6">
    <label for="document" class="form-label">Tipo de Documento</label>
    <select class="form-select" id="document" name="document">
        <option selected></option>
        <option value=""></option>
    </select>
</div>

<div class="col-6">
    <label for="numbering_range_id" class="form-label">Rango de númeración <span class="text-danger">*</span></label>
    <select class="form-select" id="numbering_range_id" name="numbering_range_id" required>
        <option selected></option>
        <option value=""></option>
    </select>
</div>