<div class="row">

    <!-- Reference Code -->
    <div class="col-md-10 mb-3">
        <label for="reference_code" class="form-label" required>Código de Referencia</label>
        <input type="text" id="reference_code" class="form-control" name="reference_code" required>
    </div>

    <!-- Document -->
    <div class="col-md-5 mb-3">
        <label for="document" class="form-label">Tipo de Documento</label>
        <select id="document" class="form-select" name="document">
            <option value=""></option>
        </select>
    </div>

    <!--Numbering Range -->
    <div class="col-md-5 mb-3">
        <label for="numbering_range_id" class="form-label" required>Rango de Numeración</label>
        <select id="numbering_range_id" class="form-select" name="numbering_range_id">
            <option value=""></option>
        </select>
    </div>

</div>