<h2>Productos</h2>

<div class="col-6">
    <label for="code_reference" class="form-label">Código <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="code_reference" name="code_reference" required>
</div>

<div class="col-6">
    <label for="name" class="form-label">Artículo <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="name" name="name" required>
</div>

<div class="col-6">
    <label for="quantity" class="form-label">Cantidad <span class="text-danger">*</span></label>
    <input type="number" class="form-control" id="quantity" name="quantity" required>
</div>